<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
    <body>
      <div class="container">
          <div class="col">
        <h2>Log In</h2>
        <br />
        <div class="form-container">
          <form action="/sessions" method="POST">
              <div class="form-group">
                    <label for="username">User Name</label>
                    <input placeholder="Enter username" id="username" type="text" class="form-control" name="username">
              </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input placeholder="Enter password" id="password" type="password" class="form-control" name="password">
              </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
        </div>
    </div>
    </body>
</html>
